@import "null.css";
@import "./template/btn.scss";

:root {
    --color-bgc: #dbeaff;
    --color-light: #808080;
    --color-main: #00a;
    font-size: clamp(10px, 62.5%, 20px);
}

.main-section {
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs-content {
    font-size: 1.8rem;
    background-color: var(--color-bgc);
    margin-bottom: .6em;
    padding: 1.25em;
    max-width: 45em;
}

.tab-btn:not(:last-child) {
    margin-right: .7em;
}

.tab-btn {
    @extend %btn;
    padding: .9em 3.9em;
    border-top-left-radius: .3em;
    border-top-right-radius: 1.25em;
}

.tab-btn:hover {
    background-color: #fff;
    color: var(--color-main);
}

.tab-btn-active {
    background-color: #fff;
    color: var(--color-main);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.tab-item {
    width: 98%;
    display: none;
    background-color: var(--color-bgc);
    height: 18em;
    overflow-y: auto;
}

.tab-content-active {
    display: block;
}

.add-task-btn {
    background-color: var(--color-main);
    padding: .6em;
    border-radius: .3em;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: var(--color-main);
    }

    &:active {
        background-color: #00006b;
        color: var(--color-bgc);
        transition: background-color 0.1s, color 0.1s;
    }
}

        /*========modal===========*/

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .8);
    display: none;
    font-size: 1.6rem;
}

.modal {
    position: absolute;
    background: #ffffff;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;

    .modal-form {
        display: flex;
        flex-direction: column;

        .modal-task {
            border: solid 1px #85b1de;
            background-position: top;
            background-color: #d6e5f4;
            padding: .65em;
            margin-bottom: 1em;
        }

        .form-btn {
            @extend %btn;
            border-radius: .3em;
            padding: .5em .8em;
        }

        .form-btn:not(:last-child) {
            margin-bottom: .6em;
        }
    }
}

.list-task li {
    margin-bottom: .93em;
}

.all-btn {
    @extend %btn;
    padding: .3em;
    border-radius: .15em;
    &:not(:last-child) {
        margin-right: .3em;
    }
}

.list-task {
    word-break: break-word;
}
